.time-table-student {
  width: 100%;
  height: 80%;
}

.timeTable-student {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.time-table-student th{
  background-color: #cff1d4;
}

.timeTable-student th,
.timeTable-student td {
  padding: 8px;
  text-align: center;
  border: 1px solid #19441f;
  width: 16%;
}

.timeTable-student tr {
  height: 11%;
  border: 1px solid #19441f;
}


.cell-data-time-table-student {
  background-color: none;
  border: none;
  padding: 0% 7%;
}


