
.h1-heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
  
  .GalleryComponent.slider-image {
    width: 100%;
    height: auto;
    
   
  }
 .img-fluid {
    border-radius: 0px;
    height:350px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 5px;
    
  }
  /* Style for dots */
.slick-dots {
    text-align: center;
    margin-top: 10px;
  }
  
  .slick-dots li {
    display: inline-block;
    margin: 0 5px;
  }
  
  .slick-dots li button {
    font-size: 5px;
    line-height: 1;
    border: none;
    background-color: #ccc;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .slick-dots li.slick-active button {
    background-color: #edecec;
  }