.forgot-passsword-popup-content {
  background-color: white;
  border: 2px solid green;
  padding: 25px;
}

.forgot-passsword-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 13, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.reset-passsword-popup-content {
  background-color: white;
  border: 2px solid green;
  padding: 25px;
}

.reset-passsword-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 13, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.change-passsword-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  height: 80%;
}

