/* styles.css */
.App {
  text-align: center;
  margin: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
}

/* Profile Styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-image {
  flex: 1;
  text-align: center;
}

.profile-image img {
  width: 25%;
  height: 25%;
  border-radius: 10%;
  object-fit: cover;
}

.profile-details {
  flex: 2;
  text-align: left;
  padding-left: 20px;
}

.profile-details h2 {
  margin-bottom: 10px;
}


.profile-details p {
  margin-bottom: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-details {
    text-align: center;
    padding-left: 0;
    margin-top: 20px;
  }

  .profile-details h2 {
    font-size: 24px;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

/* Profile Table Styles */
.profile-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.profile-row {
  display: flex;
  margin-bottom: 10px;
}

.profile-label {
  flex: 1;
  font-weight: bold;
  padding-right: 10px;
}

.profile-value {
  flex: 1;
}


.profile-label, .profile-value {
  font-size: 16px;
  color: #333333;
}

.profile-details p {
  font-size: 16px;
  color: #053f1c;
}

.profile-image img {
  border: 4px solid #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.profile-details {
  padding-top: 10px;
}
