.profile-container-teacher {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  background-color: #dfe2e1;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  min-height: 80vh;
  margin-left: 20px;

}
.profile-details {
  flex-grow: 1;
}

.stffname {
  margin-bottom: 25px;
  color: #2b9b0f;
margin-left: 50px;
}
.staffhead{
  color: rgb(13, 145, 112);
}
.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
}
.detail-table {
  width: 60%;
  border-collapse: collapse;
  margin: 0 auto;
}

.detail-table td {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.detail-table td:first-child {
  font-weight: bold;
  text-align: right;
  width: 150px;
}

.profile-divider {
  width: 2px;
  height: 75vh;
  background-color: #51d7af ;
  margin: 0 20px; 
  margin-right: 20px;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image img {
    margin-bottom: 20px;
    margin-left: 15px;
  }

  .profile-details {
    margin-left: 0;
    text-align: center;
  }
}
.profile-container-2 {
  
  background-color: #f8faf6;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  min-height: 70vh;
  padding-left: 50px;
  padding-top: 30px;
  width: 90%;
}
.proficon{
  font-size: 50px;
}