.time-table-staff {
  width: 100%;
  height: 80%;
}

.timeTable-staff {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.time-table-staff th {
  background-color: #cff1d4;
}

.timeTable-staff th,
.timeTable-staff td {
  padding: 8px;
  text-align: center;
  border: 1px solid #19441f;
  width: 16%;
}

.timeTable-staff tr {
  height: 60px;
  border: 1px solid #19441f;
}

.cell-data-time-table-staff {
  background-color: none;
  border: none;
  padding: 0% 7%;
}

.staff-subject {
  font-weight: bolder;
}
