

.calendar-container > div {
  margin: auto;
  width: 90%;
  padding: 0rem 5rem;
  max-width: 100vh;
  border: 2px solid rgb(215, 215, 216);
 
 
}

.fc-event {
  background: rgb(234, 130, 132)!important;
  width: 200px;
  height: 100px; 
}

.fc .fc-timegrid-slot {
  height: 20rem!important; 
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgb(250, 249, 208); 
}

.fc .fc-daygrid-day-bottom {
  font-size: 1.5em; 
  margin: 0px 2px;
  color: black;
}

.popup.success {
  background: #4caf50; 
  color: rgb(9, 9, 9);
}

.popup.error {
  background-color: #f44336;
  color: rgb(7, 7, 7);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-content button {
  margin: 0 10px;
  padding: 5px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}

.modal-content button:hover {
  background-color: #b30027;
}
