
.popup-container-news {
    background-color: white;
    border: 2px solid green;
    padding:50px;
    align-items: center;
  }
  
  .popup-background-news {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(3, 46, 13, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  