/* Heading underline */

.nine h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#145f2d; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:600;
}
.nine h1 span {
  margin-top: 5px;
    font-size:20px; color:#366655; word-spacing:1px; font-weight:800; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.nine h1 span:after,.nine h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}


  /* Heading end */



.datepicker_attendance {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  .datepicker_attendance::-webkit-inner-spin-button {
    display: none;
  }
  .datepicker_attendance::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  
  .label_selectdate, .label_selectgrade {
    display: block;
  }
  #gradeSelect, #datePicker {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
  }

/* table css */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
