.time-table-admin {
  width: 100%;
  height: 80%;
}

.timeTable-admin {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

.time-table-admin th {
  background-color: #cff1d4;
}

.timeTable-admin th,
.timeTable-admin td {
  padding: 8px;
  text-align: center;
  border: 1px solid #19441f;
  width: 16%;
}

.timeTable-admin tr {
  height: 11%;
  border: 1px solid #19441f;
}

.add-period {
  padding: 5% 40%;
  background-color: #cff1d4;
  border: none;
  font-weight: bolder;
}

.add-period-popup {
  background-color: white;
  border: 2px solid green;
  padding: 30px;
  text-align: center;
}

.select-staff-add-popup,
.select-subject-add-popup {
  padding: 10px;
}

.select-staff-add-popup label,
.select-subject-add-popup label {
  width: 150px;
}

.select-staff-add-popup select,
.select-subject-add-popup select {
  width: 150px;
}

.add-period-popup .btn {
  width: 100px;
}

.cell-data-time-table {
  background-color: none;
  border: none;
  padding: 0% 7%;
}

.hover {
  position: relative;
  display: inline-block;
}

.hover .hover-text {
  visibility: hidden;
  width: 160px;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.hover:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.popup-background-timetable {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 13, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
