.Popup,
.popup-container {
  background-color: white;
  border: 2px solid green;
  width: 1200px;
  height: 95vh;
  padding-top: 25px;
}

.viewTableStudents td {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 8px;
}

.popup-container-view {
  background-color: white;
  border: 2px solid green;
  align-items: center;
  padding: 25px;
}

img {
  border-radius: 100px;
}

.popup-container-delete {
  background-color: white;
  border: 2px solid green;
  padding: 30px;
  text-align: center;
}

.mt-5 td {
  width: 12.5%;
  text-align: center;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 13, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.colname {
  background-color: #cff1d4;
}

.Popup h3 {
  text-align: center;
  margin-bottom: 20px;
}

.Popup .label-add-students {
  padding-top: 10px;
}

.viewTableStudents h3 {
  text-align: center;
  padding-bottom: 10px;
}

.viewTableStudents .QR{
  padding-top: 30px;
}

.Popup .std-msg{
  color: red;
  font-size: 12px;
  font-style: italic;
  padding-top: 20px;
}