.popup-background-subject{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 46, 13, 0.3);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-view .mt-4 th,
.subject-view .mt-4 td {
  text-align: center;
  vertical-align: middle;
}

.subject-view .mt-4 th {
  padding: 10px;
}

.label-subject{
  padding-top: 20px;
}

.remove-button {
  padding: 0px 5px;
  color: red;
  border-radius: 100px;
  border: none;
  font-weight: bolder;
  font-size: 20px;
    }
