/* *********************************************Header***********************************************************/




/* *********************************************Our school****************************************************** */

.SchoolComponent {
    height: 650px;
    background-color: rgb(182, 214, 182);
}

.SchoolComponent .h1-heading {
    text-align: center;
    color: rgb(8, 48, 8);
    font-weight: bolder;
    font-size: 50px;
    padding-top: 85px;
}